
table#container
  tbody
    tr
      td#cell-0.yellow= board[0]
      td#cell-1.yellow= board[1]
      td#cell-2.yellow= board[2]
    tr
      td#cell-3.yellow= board[3]
      td#cell-4.yellow= board[4]
      td#cell-5.yellow= board[5]
    tr
      td#cell-6.yellow= board[6]
      td#cell-7.yellow= board[7]
      td#cell-8.yellow= board[8]
