
table#container
  tbody
    tr
      td.yellow= board[0]
      td.yellow= board[1]
      td.yellow= board[2]
    tr
      td.yellow= board[3]
      td.yellow= board[4]
      td.yellow= board[5]
    tr
      td.yellow= board[6]
      td.yellow= board[7]
      td.yellow= board[8]
